<ion-header>
  <ion-toolbar>
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="singup-content">
  <form [formGroup]="credentials">

    <ion-item>
      <ion-input type="text" placeholder="Nombre" formControlName="name"></ion-input>
      <ion-note slot="error" *ngIf="(name.dirty || name.touched) && name.errors">Debe ingresar su nombre</ion-note>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Apellidos" formControlName="surname"></ion-input>
      <ion-note slot="error" *ngIf="(surname.dirty || surname.touched) && surname.errors">Debe ingresar sus apellidos</ion-note>
    </ion-item>

    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">El email es incorrecto</ion-note>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">La contraseña es incorrecta</ion-note>
    </ion-item>

    <ion-button type="submit" expand="block" shape="round" color="tertiary" (click)="register()">REGISTRARSE</ion-button>
    <ion-label>¿Ya tienes cuenta? <a routerLink="/">Inicia sesión</a></ion-label>

  </form>
</ion-content>
