.icon {
  top:-0.25em;
  position: absolute;
  left: 0.15em;
  width: 3em;
  height: 3em;
}

ion-title {
  align-items: center;
  justify-content: center;
}

.avatar{
  top:0;
  position: absolute;
  right: 0.25em;
  width: 2em;
  height: 2em;
}

.star{
  top: 0;
  position: absolute;
  right: 3em;
  width: 3em;
  height: 3em;
}

ion-card{
  width: 100%;
  height: 120px;
  box-shadow: none;
  border-radius: 12px;

  img{
    object-fit: cover;
    width: 100%;
    transform: scale(1.1, 1.1)rotate(1deg);
    transition: 600ms all ease-in-out;
  }
}

.swiper-slide-active{
  transform: scale(1.05, 1.05);

  ion-card{
    img{
      transform: scale(1, 1);
    }
  }
}

.swiper-slide{
  transition: 400ms all ease-in-out;
}

button{
  align-items: center;
}

.tarjeta{
  width: 100%;
  height: 210px;
  box-shadow: none;
  border-radius: 12px;
  margin-bottom: 4em;

  img{
    object-fit: cover;
    width: 100%;
    transform: scale(1.1, 1.1)rotate(1deg);
    transition: 600ms all ease-in-out;

  }
}
