.icon {
  top: 0;
  position: absolute;
  left: 0;
  width: 3em;
  height: 3em;
}

ion-title {
  align-items: center;
  justify-content: center;
}

.avatar{
  top: 0;
  position: absolute;
  right: 0;
  width: 3em;
  height: 3em;
}

.star{
  top: 0;
  position: absolute;
  right: 3em;
  width: 3em;
  height: 3em;
}

.product-text{
  color: #fff;
  font-weight: bold;
}
