<ion-header>
  <ion-toolbar>
    <img routerLink="/" class="icon" src="https://firebasestorage.googleapis.com/v0/b/vulthanosangular.appspot.com/o/IMGS%2Fheader%2Flogo.png?alt=media&token=bff5153a-1e6f-4244-a626-db9e66a87da1" alt=""/>
    <ion-title>Detalles del producto</ion-title>
    <div class="fallback">
      <ion-icon slot="icon-only" name="person-outline" class="avatar" routerLink="/profile"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{productoHijo?.img}}">
    <ion-card-header class="product-text"><strong>{{ productoHijo?.name }}</strong></ion-card-header>
    <ion-text id="description" class="product-text">{{ productoHijo?.description }}</ion-text><br>
    <ion-text id="price" class="product-text">{{ productoHijo?.price }}€</ion-text><br>
  </ion-card>
  <ion-button type="button" shape="round" color="tertiary"><ion-icon slot="icon-only" name="heart-outline"></ion-icon></ion-button>
</ion-content>
