ion-avatar {
  width: 8em;
  height: 8em;
}

.avatar {
  width: 6em;
  height: 6em;
  display: flex;
  justify-content: center;
  color: #000000;
}

.preview {
  margin-top: 3.125em;
  display: flex;
  justify-content: center;
}

.fallback {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background: #bfbfbf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
