ion-input {
  background-color: #CEB7E5;
  border: none;
  border-radius: 1em;
  text-align: center;
  color: #000000;
  margin-top: 2em;
}

ion-button {
  margin-top: 2em;
}

ion-button:hover {
  background: rgba(255, 161, 109, .8);
}

.login-content{
  align-items: center;
  justify-content: center;
  justify-self: center;
  top: 15%;
}

.icon {
  top: 0;
  position: absolute;
  left: 0;
  width: 3em;
  height: 3em;
}

ion-title {
  margin-left: 2em;
  align-items: center;
  justify-content: center;
}

.avatar{
  top: 0;
  position: absolute;
  right: 0;
  width: 3em;
  height: 3em;
}

.star{
  top: 0;
  position: absolute;
  right: 3em;
  width: 3em;
  height: 3em;
}
